#Modules used for this project are as follow:

#- os
#- sys
#- json
#- random
#- smtplib
#- getpass
#- from io >> StringIO
#- from datetime >> datetime
#- from email.message >> EmailMessage

#With Thanks

getpass
